<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>404179305601-unq701httu7pg1r20p1ud87p1bguvjvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404179305601-unq701httu7pg1r20p1ud87p1bguvjvb</string>
	<key>API_KEY</key>
	<string>AIzaSyBsdhIYchp2hM-Vi-GPG0mkJ5fF5uFTJYI</string>
	<key>GCM_SENDER_ID</key>
	<string>404179305601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myyel.myyelDesignEmail</string>
	<key>PROJECT_ID</key>
	<string>myyel-design-email</string>
	<key>STORAGE_BUCKET</key>
	<string>myyel-design-email.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404179305601:ios:6722c430a4abde87b63980</string>
</dict>
</plist>